<!doctype html>
<html>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <body>

    <!-- NAVBAR START -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">TASK 6</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Select classifier
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">PPR</a>
              <a class="dropdown-item" href="#">SVM</a>
              <a class="dropdown-item" href="#">Prob</a>
              <a class="dropdown-item" href="#">FAG</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
    <!-- NAVBAR END -->
    <div class="container">
      <div class="row">
        <div class="col" style="max-height: 100vh;">
          <div class="row overflow-auto" style="max-height: 50vh;" id="relevant-selected">
{% for image in relevant %}
            <p>{{ image }}</p>
            <img src="{{ image }}" width="150" height="150" alt="">
{% endfor %}
          </div>
          <div class="row overflow-auto" style="max-height: 50vh;" id="irrelevant-selected">
{% for image in irrelevant %}
            <p>{{ image }}</p>
            <img src="{{ image }}" width="150" height="150" alt="">
{% endfor %}
          </div>
        </div>
        <div class="col">

          <div class="row overflow-auto" style="max-height: 50vh;" id="feedback-results">
{% for image in result %}
            <p>{{ image }}</p>
            <img src="{{ image }}" width="150" height="150" alt="">
{% endfor %}
          </div>

        </div>
      </div>
    </div>
  </body>
</html>
